@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .range {
    input[type="range"] {
      margin: auto;
      -webkit-appearance: none;
      height: 4px;
      width: 420px;
      cursor: pointer;
      border-radius: 0;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0 30px #FAF9FA inset !important;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F0EAF8;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */